<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Documentation Extension</title>
</head>
<body>
    <img src="https://dl.dropbox.com/s/u8rql8nlfsf4xkm/demo-image.png" alt="This is the hero Section">
    <h1>FIFA World cup 2014 News</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum et <strong>accusantium ipsa error </strong> aut! Odio nulla debitis magnam minima nemo!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ab pariatur consequuntur fuga earum magni blanditiis impedit quaerat, sequi vero ex non, quam autem amet adipisci provident nostrum libero aspernatur reprehenderit ullam maxime. In quas, <strong>doloremque commodi optio</strong> animi voluptatibus?</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt maxime itaque reiciendis praesentium illum officia illo excepturi! Libero assumenda vel nesciunt pariatur dignissimos veniam blanditiis atque sequi commodi voluptas architecto quisquam modi consequatur molestiae voluptate eligendi expedita, voluptatem quas quaerat cupiditate doloremque? Tenetur saepe <strong>repudiandae</strong> deleniti. Suscipit esse ullam maiores.
    </p>
    <h1>  Destination  </h1>
    <ul>
        <li>
            <a href="http://example.com.">FCB</a>
        </li>
        <li>
            <a href="http://example.com.">MUNCHES</a>
        </li>
        <li>
            <a href="http://example.com.">PSG</a>
        </li>
        <li>
            <a href="http://example.com.">SEMICOLON</a>
        </li>
        <li>
            <a href="http://example.com.">FCB</a>
        </li>
        <li>
            <a href="http://example.com.">MUNCHES</a>
        </li>
        <li>
            <a href="http://example.com.">PSG</a>
        </li>
        <li>
            <a href="http://example.com.">SEMICOLON</a>
        </li>
    </ul>
    <a href="http://example.com."><img src="https://www.w3resource.com/images/rss.gif" alt=""></a>
    <a href="http://example.com."><img src="https://www.w3resource.com/images/linkedin.gif" alt=""></a>
    <a href="http://example.com."><img src="https://www.w3resource.com/images/twitter.gif" alt=""></a>

</body>
</html>